.formWrapper {
  background-image: linear-gradient(
    to bottom,
    var(--gray-700) 50%,
    var(--gray-600) 0
  );
  margin-bottom: 4rem;
}

.formWrapper form {
  padding: 0 1rem;
  max-width: 46rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.formWrapper input[type="text"] {
  padding: 0 1rem;
  flex: 1;
  background-color: var(--gray-500);
  height: 54px;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  outline: 1px solid transparent;
  color: var(--white);
}

.formWrapper input[type="text"]:focus {
  outline: 1px solid var(--blue-600);
}

.formWrapper button[type="submit"] {
  background-color: var(--blue-600);
  border-radius: 8px;
  border: 0;
  color: var(--white);
  font-size: 0.875rem;
  font-weight: bold;
  width: 94px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.formWrapper button[type="submit"]:hover {
  background-color: var(--blue-400);
}

.formWrapper button[type="submit"]:hover svg {
  transform: scale(1.2);
}
