/* List */
.listWrapper {
  max-width: 46rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.listItems {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listContent .listItems {
  list-style: none;
}

.listContent .listItem {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  background-color: var(--gray-500);
  display: flex;
  align-items: flex-start;
  gap: 12px;
  overflow: hidden;
}

.listContent .listItem header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.listContent .listItem .listText {
  color: var(--gray-100);
  line-height: 1.4;
}

.listContent .listItem p.line {
  text-decoration: line-through;
  color: var(--gray-300);
}

.listContent .listItem button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
}

.listContent .listItem button:hover svg {
  color: var(--danger);
}

.listContent .listItem label {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listContent .listItem input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.listContent .listItem .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--blue-400);
  transition: all 0.2s ease-in-out;
}

.listContent .listItem input:checked ~ .checkmark {
  border: 1px solid transparent;
  background-color: var(--purple-600);
}

.listContent .listItem .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.listContent .listItem input:checked ~ .checkmark:after {
  display: block;
}

.listContent .listItem .checkmark:after {
  left: 6px;
  top: 4px;
  width: 4px;
  height: 7px;
  border: solid var(--white);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.listContent .listItem footer {
  position: relative;
}

.listContent .listItem .modalButtons {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--gray-700);
  padding: 0.5rem;
  border-radius: 8px;
  position: absolute;
  z-index: 3;
  top: -3px;
  left: 40px;
  transition: left 0.2s ease-in-out;
}

.listContent .listItem .modalButtons.show {
  left: -50px;
}

.listContent .listItem .modalButtons button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.listContent .listItem .modalButtons button:nth-child(1) {
  color: var(--danger);
}
.listContent .listItem .modalButtons button:nth-child(2) {
  color: var(--blue-400);
}
